@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  margin: 10% auto;
  width: 100%;
  max-width: 800px;
}

#hdcomments {
  border: 1px solid #eee;
  padding: 40px;
}

#hdcomments *,
#hdcomments *::before,
#hdcomments *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hdc_label {
  display: block;
  margin-bottom: 8px;
}

.hdc_input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #acc;
}

#hdc_create_comment {
}

#hdc_comment_contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 20px;
}

#hdc_comment_footer {
  display: grid;
  grid-template-columns: 1fr 80px;
  margin-top: 20px;
  align-items: center;
}

#hdc_reaction_title {
  display: inline-block;
}

.hdc_reaction {
  padding: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

.hdc_reaction:hover {
  border: 1px solid #ccc;
}

#hdc_submit {
  background: #222;
  padding: 12px 16px;
  color: #fff;
  border: none;
  border-radius: 50px;
  transition: 0.5s all ease;
  opacity: 0.4;
}

#hdc_submit:hover {
  background: orange;
  color: #222;
}

.hdc_submit_enabled {
  opacity: 1;
}
